In [25]:
import pandas as pd
import numpy as np
import requests
import json

In [13]:
api_key = 'x'

success

In [45]:
slugs = ['bored-ape-yacht-club', 'impostors-genesis-aliens', 'neotokyo-citizens','goonsofbalatroon']
temp = []
for s in slugs:
    url = 'https://api.nftpricefloor.com/api/projects/' + s+ '/charts/1d?qapikey=x'
    print(s)
    response = requests.get(url)
    if response.status_code == 200:
        # Print the response content
        print('success')
        df = pd.DataFrame(response.json())
        df['Date'] = pd.to_datetime(df['timestamps'], unit='ms').dt.strftime('%Y-%m-%d')
        temp.append(df[['slug', 'floorUsd', 'Date']])
    else:
        print('Failed to fetch data. for ', s )

bored-ape-yacht-club
success
impostors-genesis-aliens
success
neotokyo-citizens
success
goonsofbalatroon
success

In [46]:
nfts = pd.concat(temp)

In [47]:
nfts = nfts.rename(columns={'slug': 'NFT'})

In [48]:
nfts

                      NFT      floorUsd        Date
0    bored-ape-yacht-club  96109.364000  2022-11-07
1    bored-ape-yacht-club  97185.691900  2022-11-08
2    bored-ape-yacht-club  91030.211800  2022-11-09
3    bored-ape-yacht-club  81767.457000  2022-11-10
4    bored-ape-yacht-club  59960.005200  2022-11-11
..                    ...           ...         ...
536      goonsofbalatroon     50.920996  2024-04-26
537      goonsofbalatroon     55.048416  2024-04-27
538      goonsofbalatroon     54.758224  2024-04-28
539      goonsofbalatroon     57.500309  2024-04-29
540      goonsofbalatroon     57.075597  2024-04-30

[1955 rows x 3 columns]

In [49]:
caveWorld = open('nftCoins/CaveWorld.json')
b_cave =  json.load(caveWorld)

nft_info = []
for b in b_cave['stats']:
    c = {}
    c['Date'] = b[0]
    c['floorUsd'] = b[1]
    c['NFT'] = 'CAVEWORLD'
    nft_info.append(c)
    
liveNft = pd.DataFrame(nft_info)
liveNft['Date'] = pd.to_datetime(liveNft['Date'], unit='ms').dt.strftime('%Y-%m-%d')

In [50]:
finalNfts = pd.concat([liveNft, nfts])
finalNfts['Date'] = pd.to_datetime(finalNfts['Date'])

In [51]:
finalNfts.sort_values(by = 'Date', inplace=True)

In [52]:
#finalNfts = finalNfts[finalNfts['Date'] >= '2023-02-02']
finalNfts = finalNfts[finalNfts['Date'] < '2024-04-25']

In [53]:
finalNfts

          Date      floorUsd                       NFT
0   2022-11-07    562.450000  impostors-genesis-aliens
0   2022-11-07    218.741000          goonsofbalatroon
0   2022-11-07  96109.364000      bored-ape-yacht-club
1   2022-11-08    206.121320          goonsofbalatroon
1   2022-11-08    500.278130  impostors-genesis-aliens
..         ...           ...                       ...
534 2024-04-24  38737.989000      bored-ape-yacht-club
534 2024-04-24     53.134077          goonsofbalatroon
534 2024-04-24    623.889464  impostors-genesis-aliens
474 2024-04-24     38.463585                 CAVEWORLD
325 2024-04-24  24435.992700         neotokyo-citizens

[2406 rows x 3 columns]

In [54]:
finalNfts.to_csv('NFTprices.csv')